<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.163.com" />
        <property name="port" value="25" />
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="username" value="yuanziren19@163.com"></property>
        <property name="password" value="yuanziren19"></property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>

    <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="yuanziren19@163.com" />
        <property name="subject" value="spring_mail" />
    </bean>

    <bean id="orderManager" class="com.yuanziren.test.SimpleOrderManager">
        <property name="mailSender" ref="mailSender" />
        <property name="templateMessage" ref="templateMessage" />
    </bean>

    <!-- 开启bean扫描 -->
    <context:component-scan base-package="com.yuanziren"/>
    <!-- 配置定时任务 -->
    <bean id="myTask" class="com.yuanziren.task.MyTask"></bean>

    <!--<task:scheduled-tasks>-->
    <!--&lt;!&ndash; cron 表达式 规定什么时间执行 &ndash;&gt;-->
    <!--<task:scheduled ref="myTask" method="job01" cron="0/3 * * * * ? "/>-->
    <!--<task:scheduled ref="myTask" method="job02" cron="0/6 * * * * ? "/>-->
    <!--</task:scheduled-tasks>-->

    <task:annotation-driven />


</beans>